html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Ropa Sans', 'Gill Sans MT', 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  font-family: 'Enriqueta', 'Palatino Linotype', 'Georgia', serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  margin: auto;
  padding: 2rem;
}

article {
  background-color: #420D09;
  color: #fff;
  margin: auto;
  width: 900px;
}

#bandPic {
    width: 100%;
}

#picCaption {
    margin: .25rem;
    max-width: 700px;
}

.text {
  margin: 2rem;
  max-width: 700px;
}

#music {
  padding: 1rem;
  text-align: center;
}

.albumCover {
    padding: 1rem;
}

footer {
  padding: 2rem;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

a:link {
  color: #FFBD1B;
  text-decoration: none;
}

a:hover {
  color: #FFD80A;
}

a:visited {
  color: #C49102;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
    article {
        width: 500px;
        margin: auto;
    }

    header {
        width: 500px;
    }

    #picCaption {
      font-size: .75rem;
    }

    .text {
        max-width: 100%;
        margin: 2rem;
    }

    .albumCover {
        max-width: 400px;
        margin: 0;
    }

    footer {
      width: 500px;
    }
}

@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }

  header {
    padding: 1rem;
  }

  footer {
    text-align: left;
    padding: 1rem;
  }
}
